<%- include ("./partials/header", {auth:auth, money: money}) %>

<section style = "background-color:black;color: white; width: 500px; margin-top: 50px; padding: 20px; border-radius: 30px;">
<h3>Povestea noastra</h3>

<p>Ideea noastra a pornit de la nevoia de servicii casnice a fiecarui om. Totul incepe de la un bec ars sau a unui robinet stricat, dupa acestea urmeaza cautarea unui mseter care sa 
    iti rezolve problema, iar din acest punct totul continua cu "am eu un baiat...".
</p>
<h3>Misiunea noastra</h3>
<p>Ne dorim sa schimbam acest obicei si sa scurtam canalul de comunicatii dintre acestia si sa oferim siguranta banilor si a lucrarii pentru ambele parti.</p>
</section>