:root {
    --c1: #1f1d36f5;
    --c2: #FFFFFF;
    --c3: #1f1d36;
    --c4: #212529;
  }
/************ Tags ****************/


/************ Classes ************/
.hidden{
    display:none;
}

/********** Ids ****************/
